<%= form_for(localizacao) do |f| %>
  <% if localizacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(localizacao.errors.count, "error") %> prohibited this localizacao from being saved:</h2>

      <ul>
      <% localizacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.number_field :lat %>
  </div>

  <div class="field">
    <%= f.label :long %>
    <%= f.number_field :long %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
