<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @usuario.idade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @usuario.sexo %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @usuario.localizacao %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
